.right{
    
        width: 5rem;
        height: 80vh;
        background-color: rgb(236, 143, 159);
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
    
  
}