.row{
    padding: 10px;

}

.form-group{
    padding: 10px;
    width: 1200px;
}

.container{
    background-color: rgb(133, 204, 204);
    box-shadow: 20px;
    border-radius: 20px;
    margin-top: 200px;
}