.center{
    width: 88%;
    height: 80vh;
    background-color: rgb(83, 100, 100);
    border: 2px solid black;
    align-items: center;
    display: flex;
    position: absolute;
    top: 13%;
    right: 5.8%;
    justify-content: center;
    
    
    
}