<!-- <p>home works!</p>
<p><a href="javascript:void(0);"(click)="onRouteChange()">Hello from home component</a></p>


<p><a href="javascript:void(0);"(click)="onNavigateById('11')">Navigate By Id</a></p> -->

<!-- <router-outlet></router-outlet>

<table border="2" width="50%">
    <tr bgColor="yellow" >
        <th>S.N</th>
        <th>id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Age</th>
        <th>Class</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let data of tableData; let i= index;">
        <td>{{i+1}}</td>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.address}}</td>
        <td>{{data.age}}</td>
        <td>{{data.class}}</td>

        <td>
            <input type="button"  (click)="onDetailView(data.id, data.name, data.address, data.age)" value="edit">
        </td>
        
    </tr> -->

    <!-- <tr>
        <td>2</td>
        <td>Hemraj Kalathoki</td>
        <td>Dang</td>
        <td>22</td>
        <td>
            <input type="button" (click)="onNavigateById('2')" value="edit">
        </td>
        
    </tr> -->
<!-- </table> -->

<div class="navbar">    
<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <h2>AngularLab</h2>
    <div class="container-fluid">
      <div class="nav">
         
          <button class="nav-link" (click)="onTable()">Table</button>
          <button class="nav-link " (click)="onForm()">ReactiveForm</button>
          <button class="nav-link " (click)="onTemplateForm()">TemplateForm</button>

          


        </div>
      </div>
  </nav>
</div>